<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.0/p5.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.0/addons/p5.sound.min.js"></script> -->
    <script src="{{ url_for('static', filename='p5.js') }}"></script>
    <script src="{{ url_for('static', filename='fourier.js') }}"></script>
    <script src="{{ url_for('static', filename='inputHandler.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='draws.js') }}"></script> -->

    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8" />
  </head>
  <body>
    <main>
      <h1><span style="font-family:Verdana,Geneva,sans-serif">Simulador de Ondas Quadradas</span></h1>

      <p><span style="font-family:Verdana,Geneva,sans-serif">Observe o plot da posi&ccedil;&atilde;o vertical da <span style="color:#e74c3c">part&iacute;cula vermelha</span> (&quot;cabe&ccedil;a&quot; dos epiciclos)&nbsp;ao longo do tempo formar uma&nbsp;<em>senoide</em>!</span></p>
      
      <p><span style="font-family:Verdana,Geneva,sans-serif">Conforme o n&uacute;mero de circunfer&ecirc;ncias aumenta, a senoide se aproxima de uma onda quadrada.&nbsp;Explore os sliders abaixo!</span></p>
      <script src="{{ url_for('static', filename='sketch_onda_quadrada.js') }}"></script>
    </main>
  </body>
</html>