<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.0/p5.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.0/addons/p5.sound.min.js"></script> -->
    <script src="{{ url_for('static', filename='p5.js') }}"></script>
    <script src="{{ url_for('static', filename='fourier.js') }}"></script>
    <script src="{{ url_for('static', filename='inputHandler.js') }}"></script>
    <script src="{{ url_for('static', filename='draws.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="utf-8" />
  </head>
  <body>
    <main>
      <h1><span style="font-family:Verdana,Geneva,sans-serif">Transformada de Fourier com N&uacute;meros Complexos</span></h1>

      <p><span style="font-family:Verdana,Geneva,sans-serif">Nessa p&aacute;gina, temos apenas uma &quot;m&aacute;quina de desenhar&quot; que &eacute; capaz de reproduzir os desenhos em duas dimens&otilde;es!</span></p>
      
      <p><span style="font-family:Verdana,Geneva,sans-serif">Para desenhar, basta pressionar o botão esquerdo do mouse sobre o canvas (espaço com fundo preto).</span></p>
      <p><span style="font-family:Verdana,Geneva,sans-serif"><u>Dica:</u> Voc&ecirc; tamb&eacute;m pode acessar essa p&aacute;gina pelo celular e desenhar com o dedo! Para saber como, consulte <a class="nav-link" href="/celular"><u><span style="color:#2980b9">este tutorial</span></u></a>. &Eacute; bem mais divertido, acredite.</span></p>

      <p><span style="font-family:Verdana,Geneva,sans-serif"><em><span style="font-size:11px">Obs.: Se clicar novamente, seu desenho atual ser&aacute; perdido para todo o sempre!</span></em></span></p>
    <script src="{{ url_for('static', filename='sketch_complexos.js') }}"></script>
    </main>
  </body>
</html>