{% extends "base.html" %}
{% block title %} Página Inicial - Fourier {% endblock %}
{% block content %}

<h1 id="páginas">Páginas</h1>
<h2 id="1html">Onda Quadrada</h2>
<p>Modelo de Tranformada Discreta de Fourier simulando ondas quadradas.</p>
<h2 id="2html">No Plano</h2>
<p>Transformada Discreta de Fourier em duas dimensões.</p>
<p>Usamos círculos para desenhar uma circunferência!</p>
<h2 id="3html">Desenho Livre</h2>
<p>Desenho livre com Fourier!</p>
<p>Desenhe algo na tela e veja o caminho do mouse ser aproximado pela Transformada Discreta de Fourier.</p>
<h2 id="4html">Complexos</h2>
<p>Desenho livre com Fourier usando números complexos!</p>
<p>Note que agora só temos uma máquina de desenhar que sabe desenhar nos dois eixos.</p>

{% endblock %}